#si_mainframe, #si_form {
  position: fixed;
  top: 0px; right: 0px;
  display: none;
  border: 0px;
  width:500px;
  height: 100%;
}
#si_mainframe {
  z-index: 2147483647;
  -webkit-box-shadow: -7px 0px 100px 3px rgba(0,0,0,1);
}
body.si_open {
  overflow:hidden !important;
}
body.si_open:after {
  content:'';
  display:block;
  position:fixed;
  top:0px; bottom:0px; left:0px; right:0px;
  background-color:rgba(0,0,0,0.33);
  z-index:2147483645;
}
body.si_open>#si_mainframe, body.si_open>#si_form { display:block; }

#si_form {
  z-index: 2147483646;
  background-color:#FFFFFF;
}
#si_form>.loader,
#si_form>.loader:before,
#si_form>.loader:after {
  border-radius: 50%;
}
#si_form>.loader:before,
#si_form>.loader:after {
  position: absolute;
  content: '';
}
#si_form>.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
#si_form>.loader {
  color: #666666;
  font-size: 11px;
  text-indent: -99999em;
  margin: 128px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#si_form>.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
#si_form>.si_progress {
  position: absolute;
  text-align: center;
  top: 175px;
  left: 0px;
  right: 0px;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
